#index .container {
	margin-top: 50px;
}

.posts {
	border-bottom: 1px solid black;
	width: 400px;
	padding: 0 0 20px 0;
}

h1 {
	text-align: center;
}

h4 {
	text-aligner: center;
	color: white;
}

p {
	color: white;
}

a {
	display: block;
}


h2 {
	display: inline-block;
}

.redditPic, .nyTimesPic, .slatePic {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: inherit;
}

.singlePost {
	position: fixed;
	top: 150px;
	right: 150px;
	width: 400px;
	overflow: auto;
	height: 300px;
	background-color: blue;
	border-radius: 10px;
	padding: 20px;
}

.btn {
	display: block;
	margin-top: 20px;
}

@media (max-width: 800px) {
  .singlePost {
		position: static;
		margin: 50px 0;
	}
}
